---
import GlobalLayout from "../../../layouts/GlobalLayout.astro";

export const prerender = false; // Not needed in 'server' mode
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {}

const { collname, id } = Astro.params;
if (id === undefined || collname === undefined) {
    return Astro.redirect("/404");
}

const entry = await getEntry(collname, id);
if (entry === undefined) {
    return Astro.redirect("/404");
}

const { Content, headings } = await render(entry);
---

<GlobalLayout path=`${Astro.url.pathname}` headings={headings}>
    <!-- <h1>{collname}: {id}</h1> -->
    <p><a href="./" class="retvrn move-dir">/..</a></p>
    <Content />
</GlobalLayout>

<!-- src/notes/[collname]/[id].astro -->
<style>
    /* please do not break my stuff */
    .retvrn {
        display: block;
        width: 100%;
    }
</style>
