/* CSS of table of contents */
@layer base, utils, components;
@import "@webtui/css";
@import "@webtui/theme-gruvbox";
@import '@webtui/theme-catppuccin';
@import "@webtui/theme-nord";


@layer components {

    /* GRUVBOX */
    [data-webtui-theme|="gruvbox"] {

        .toc-h2,
        .toc-h3,
        .toc-h4,
        .toc-h5,
        .toc-h6,
        .toc-h2:hover,
        .toc-h3:hover,
        .toc-h4:hover,
        .toc-h5:hover,
        .toc-h6:hover {
            color: var(--gb-green);
        }
    }

    /* CATPPUCCIN */
    [data-webtui-theme|="catppuccin"] {

        .toc-h2,
        .toc-h2:hover {
            color: var(--peach);
        }

        .toc-h3,
        .toc-h3:hover {
            color: var(--yellow);
        }

        .toc-h4,
        .toc-h4:hover {
            color: var(--green);
        }

        .toc-h5,
        .toc-h5:hover {
            color: var(--blue);
        }

        .toc-h6,
        .toc-h6:hover {
            color: var(--lavender);
        }

    }

    /* NORD */
    [data-webtui-theme|="nord"] {

        .toc-h2,
        .toc-h3,
        .toc-h4,
        .toc-h5,
        .toc-h6,
        .toc-h2:hover,
        .toc-h3:hover,
        .toc-h4:hover,
        .toc-h5:hover,
        .toc-h6:hover {
            color: var(--nord14);
        }
    }
}