---

---

<div id="card">
    <pre
        id="card-ascii">
                 $@$@@@
          @@        @@@
       @@    $  $ @@@@@
       @$ $$ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@ @$ @ @@@@@
       @$ @@@$  $@@@@@@
       @$$$$$$$$$@@@@@@
     @@@@@@@@@@@@@@@@@@@$
    @@@@@@@@@@@@@@@@@@@@@@
    $$$$$$$$$$$$$$$$$$$$$$    
</pre>

    <span id="card-credits">
        Welcome!<br />
        TSnotes<br />
        v1.1<br />
        https://github.com/touchofstatic<br />
        2025
    </span>
</div>

<style>
    #card {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        height: 100%;
        align-content: center;
    }

    #card-ascii {
        margin-left: 3ch;
        margin-right: 3ch;
    }

    #card-credits {
        align-self: center;
    }
</style>
