---

---

<aside box-="square" shear-="top" class="box closed" id="files2">
    <span is-="badge" variant-="background0">Files</span>
    <span is-="badge" variant-="background0" class="close">[x]</span>

    <div id="files2-inside">
        <summary>notes</summary>
        <ul marker-="open tree">
            <li class="move-dir"><a href="/notes/undefined/">Undefined</a></li>
            <li class="move-dir"><a href="/notes/html/">HTML</a></li>
            <li class="move-dir"><a href="/notes/css/">CSS</a></li>
            <li class="move-dir"><a href="/notes/js/">JS</a></li>
            <li class="move-dir"><a href="/notes/astro/">Astro</a></li>
            <li class="move-dir"><a href="/notes/github/">Github</a></li>
        </ul>

        <br />
        <summary>resources</summary>
        <ul marker-="open tree">
            <li class="move-dir">
                <a href="/resources/undefined/">Undefined</a>
            </li>
            <li class="move-dir"><a href="/resources/tools/">Tools</a></li>
            <li class="move-dir"><a href="/resources/curios/">Curios</a></li>
        </ul>

        <br />
        <summary>study</summary>
        <ul marker-="open tree">
            <li class="move-dir"><a href="/study/classes/">Classes</a></li>
            <li class="move-dir"><a href="/study/lessons/">Lessons</a></li>
        </ul>
    </div>
</aside>

<script is:inline>
    const files2Btn = document.getElementById("files2-btn");
    const files2Close = document.querySelector("aside#files2 .close");

    const cols = document.getElementsByClassName("column");

    // files2 button that enables based on window size
    // eq. Files @media
    const testQuery = window.matchMedia("(max-width: 70ch)");
    function testEnable(event) {
        if (event.matches) {
            // enabled
            files2Btn.disabled = false;
        } else {
            // disabled
            files2Btn.disabled = true;
            // close files2 window
            files2.classList.add("closed");
            files2.classList.remove("open");
            // open columns
            for (var i = 0; i < cols.length; i++) {
                cols[i].classList.remove("closed");
                cols[i].classList.add("open");
            }
        }
    }
    testQuery.addEventListener("change", testEnable);
    testEnable(testQuery);

    files2Btn.addEventListener("click", () => {
        files2.classList.toggle("closed");
        files2.classList.toggle("open");

        for (var i = 0; i < cols.length; i++) {
            cols[i].classList.toggle("closed");
            cols[i].classList.toggle("open");
        }
    });

    files2Close.addEventListener("click", () => {
        files2.classList.toggle("closed");
        files2.classList.toggle("open");

        for (var i = 0; i < cols.length; i++) {
            cols[i].classList.toggle("closed");
            cols[i].classList.toggle("open");
        }
    });
</script>

<style>
    #files2 {
        width: 100%;
        /* keep red content inside box aligned with main */
        padding-bottom: 3lh;
        /* pulls up the box border */
        height: 94vh;
    }

    #files2-inside {
        /* overflow-y gives red bar scroll and keeps bottom text inside red box */
        overflow-y: auto;
        /* visual */
        padding-left: 1ch;
        padding-right: 2ch;

        margin-top: 1lh;
        /* red's height matches green parent rather than its own content */
        height: 100%;
    }

    #files2-inside li a {
        display: inline-block;
        width: calc(100% - 2ch);
    }
</style>
