---
import "../../styles/collname.css";
import GlobalLayout from "../../layouts/GlobalLayout.astro";

export const prerender = false;
import { getCollection } from "astro:content";

type CollectionName = "undefined" | "html" | "css" | "js" | "astro" | "github";
function assertCollectionName(name: string): name is CollectionName {
    return ["undefined", "html", "css", "js", "astro", "github"].includes(name);
}

const { collname } = Astro.params;

if (!assertCollectionName(collname!)) {
    throw new Error();
}

const collection = await getCollection(collname);
---

<GlobalLayout path=`${Astro.url.pathname}`>
    <ul class="collname">
        {
            collection.map((file) => (
                <li class="move-dir">
                    <a href={`/notes/${collname}/${file.id}`}>
                        /{file.data.title}
                    </a>
                </li>
            ))
        }
    </ul>
</GlobalLayout>

<!-- src/notes/[collname]/.astro -->
